<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= [@title, "ValoBox API Demo"].compact.join(" | ")
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag "application"

  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = partial 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = yield
          %footer
    = javascript_include_tag "application"
